*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
}

button{
    width: 120px;
    height: 50px;
    color: black;
    border-color: #AAAAAA;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    text-align: center; 
}

.logo-img{
    width: 90px;
}

/* initial screen */
.initial-screen{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}

.sign-in-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 200px;
    width: 100%;
}

.sign-in-screen label{
    font-size: 20px;
    font-weight: bold;
}
.sign-in-screen input{
    height: 35px;
    width: 250px;
}

.sign-in-screen input::placeholder{
    text-align: center;
}

.log-error{
    color: red;
    text-align: center;
}


/* signin load */
.signin-load, .signin-approved, .signin-refused{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 400px;
}

.sign-in-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
}

.sign-in-icon img{
    height: 150px;
}

.sign-in-icon p{
    font-size: 20px;
}

/* website */
.website{
    background: #E5E5E5;
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Top style */
.top-bar{
    position:fixed;
    top:0;
    left:0;

    width: 100%;
    height: 60px;

    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(136, 136, 136, 0.596);
}

.top-bar-phantom{
    width: 100%;
    height: 75px;
}
.top-icons{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:auto;

    width: 90%;
    height: 100%;
}

.top-icons ion-icon{
    font-size: 33px;
}

.top-icons img{
    width: 60px;
    height: 40px;
}

/* Content styles */
.feed{
    width: 100%;
}

.message-structure{
    width: 100%;
    margin-top: 6px;
}

.message-structure p{
    margin-inline:8px;
    padding-block:10px;
    word-wrap: break-word;
}

/* Message box style */
.scroll-down{
    display:flex;
    width: 100px;
    height: 60px;
    border-radius: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    position:fixed;
    bottom: 70px;

    background-color: rgba(0, 0, 0, 0.777);

    cursor:pointer;
}

.scroll-down p{
    font-weight: bold;
    font-size: 12px;
    color: white;
}
.scroll-down img{
    height: 30px;
}

.message-box{
    position:fixed;
    bottom:0;
    left:0;

    width: 100%;
    height: 60px;
    
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(136, 136, 136, 0.596);

    display:flex;
    justify-content: space-between;
    align-items: center;
}

.message-box-phatom{
    width: 100%;
    height: 75px;
}

.message-box ion-icon{
    font-size: 25px;
}

.message-box textarea{
    width: 85%;
    height: 60%;

    border: none;
    margin-left: 10px;
}

.send-message{
    width: 15%;
    height: 100%;

    display:flex;
    justify-content: center;
    align-items: center;
}

.message-box textarea::placeholder{
    font-family: 'Roboto', sans-serif;

    font-style: italic;
}

.connection-lost-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
    text-align: center;
    font-size: 22px;
}

/* Sidebar */
.participants-side-bar{
    position: fixed;
    top:0;
    left:0;

    height: 100vh;
    width: 100vw;

    z-index: 1;

    background: rgba(136, 136, 136, 0.596);
}

.side-bar{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 66%;
    height: 100%;

    position:fixed;
    top:0;
    right:0;

    background-color: #FFFFFF;
}

.side-bar strong{
    margin-block: 20px;
    text-align: center;
}

.side-bar div{
    width: 100%;
}

.side-bar ul{
    display:flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-height: 50vh;
    overflow-y: scroll;
}
.side-bar li{
    width: 90%;
    margin-block: 6px;

    display:flex;
    justify-content: space-between;
    align-items: center;
}

.side-bar li p{
    max-width: 65%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.show-large-names{
    word-break: break-all;
}

.list-element-content{
    display:flex;
    align-items: center;
}

.list-element-content ion-icon{
    margin:10px;
    font-size: 22px;
}

.checkmark{
    color:green;
    font-size: 20px;
}

.connection-lost-screen img{
    width: 250px;
}
/* Messages styles */
.message-time{
    color:#AAAAAA;
}

strong{
    font-weight: bold;
}

.color-status{
    background-color: #DCDCDC;
}

.color-message{
    background-color: #FFFFFF;
}

.color-private{
    background-color: #FFDEDE;
}

.hide{
    display:none;
}