*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
}

button{
    width: 100px;
    height: 40px;
    color: black;
    border-color: #AAAAAA;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    
}

.logo-img{
    width: 90px;
}

/* initial screen */
.initial-screen{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}

.sign-in-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 100px;
    width: 100%;
}

.sign-in-screen input{
    height: 35px;
    width: 250px;
}

.sign-in-screen input::placeholder{
    text-align: center;
}

.log-error{
    color: red;
    text-align: center;
}


/* signin load */
.signin-load, .signin-approved, .signin-refused{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 400px;
}

.sign-in-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
}

.sign-in-icon img{
    height: 150px;
}

.sign-in-icon p{
    font-size: 20px;
}

/* website */
.website{
    background: #E5E5E5;
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Top style */
.top-bar{
    position:fixed;
    top:0;
    left:0;

    width: 100%;
    height: 60px;

    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(136, 136, 136, 0.596);
}

.top-bar-phantom{
    width: 100%;
    height: 75px;
}
.top-icons{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:auto;

    width: 90%;
    height: 100%;
}

.top-icons ion-icon{
    font-size: 33px;
}

.top-icons img{
    width: 60px;
    height: 40px;
}

/* Content styles */
.feed{
    width: 100%;
}

.message-structure{
    width: 100%;
    margin-top: 6px;
}

.message-structure p{
    margin-inline:8px;
    padding-block:10px;
    word-wrap: break-word;
}

/* Message box style */
.message-box{
    position:fixed;
    bottom:0;
    left:0;

    width: 100%;
    height: 60px;
    
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(136, 136, 136, 0.596);

    display:flex;
    justify-content: space-between;
    align-items: center;
}

.message-box-phatom{
    width: 100%;
    height: 75px;
}

.message-box ion-icon{
    font-size: 25px;
}

.message-box textarea{
    width: 85%;
    height: 60%;

    border: none;
    margin-left: 10px;
}

.send-message{
    width: 15%;
    height: 100%;

    display:flex;
    justify-content: center;
    align-items: center;
}

.message-box textarea::placeholder{
    font-family: 'Roboto', sans-serif;

    font-style: italic;
}

.connection-lost-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
    text-align: center;
    font-size: 22px;
}




.connection-lost-screen img{
    width: 250px;
}
/* Messages styles */
.message-time{
    color:#AAAAAA;
}

strong{
    font-weight: bold;
}

.color-status{
    background-color: #DCDCDC;
}

.color-message{
    background-color: #FFFFFF;
}

.color-private{
    background-color: #FFDEDE;
}

.hide{
    display:none;
}